body {
  font-family: "Noto Sans HK", sans-serif;
}

#root {
  display: grid;
  gap: 40px;
  grid-template-rows: 1fr ... 1fr;
}

.container {
  margin: 0 auto;
  width: 1600px;
  background-color: red;
}

.active-link {
  color: white;
}
